.container {
    width: 2000px;
    height: 5900px;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid whitesmoke;
    align-items: center;
}

.left1 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: relative;
    top: 0px;
}

.recipe {
    position: relative;
    width: 1095px;
    height: 100px;
    left: 132px;
    top: 488px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 90px;
    /* or 125% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #2E266F;
}

.search {
    position: relative;
    width: 300px;
    height: 22px;
    left: 135px;
    top: 580px;

    background: #EFEFEF;
    /* border-radius: 2px; */
}

.right-1 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: absolute;
    top: 50px;
    left: 50%;
}

.gambar1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1085px;
    top: 150px;
    border-radius: 10px;
}

.background1 {
    /* Rectangle 2 */


    position: absolute;
    width: 514px;
    height: 1150px;
    left: 1485px;
    top: 0;
    right: 0;

    background: #EFC81A;

}

.kotak1 {
    position: relative;
    width: 25px;
    height: 140px;
    left: 138px;
    top: 975px;

    background: #EFC81A;
}

h3 {
    position: relative;
    width: 636px;
    height: 105px;
    left: 190px;
    top: 810px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    /* or 129% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.left2 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: relative;
    top: 0px;
}

.bg-kiri {
    box-sizing: border-box;

    position: relative;
    width: 683px;
    height: 801px;
    left: 315px;
    top: 280px;

    border: 3px solid #EFC81A;
    border-radius: 10px;
}

.foto-kiri {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 135px;
    top: 200px;

    background: #C4C4C4;
    border-radius: 8px;
}

.right2 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: absolute;
    top: 1152px;
    left: 50%;
}

.text-kanan {
    position: relative;
    width: 570px;
    height: 146px;
    left: 320px;
    top: 400px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 73px;

    color: #3F3A3A;
}

.line {
    position: relative;
    width: 100px;
    height: 0px;
    left: 320px;
    top: 420px;

    /* border: 2px solid #6F6A40; */
}

.text {
    position: relative;
    width: 570px;
    height: 64px;
    left: 320px;
    top: 450px;

    font-family: 'Airbnb Cereal App';
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.04em;

    color: #3F3A3A;
}

.button {
    position: relative;
    width: 200px;
    height: 64px;
    left: 320px;
    top: 500px;

    background: #EFC81A;
    border-radius: 8px;
}

.button-text {
    position: relative;
    width: 95px;
    height: 21px;
    left: 380px;
    top: 458px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.07em;

    color: #FFFFFF;
}

.left3 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: relative;
    top: 0px;
}

.kotak2 {
    position: relative;
    width: 25px;
    height: 140px;
    left: 138px;
    top: 0px;

    background: #EFC81A;
}

.left3 h3 {
    position: relative;
    width: 636px;
    height: 105px;
    left: 190px;
    top: -170px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    /* or 129% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.background {
    position: absolute;
    width: 514px;
    height: 820px;
    left: 0px;
    top: 238px;

    background: #EFC81A;
}

.foto {
    position: absolute;
    width: 800px;
    height: 800px;
    left: 135px;
    top: 315px;

    background: #C4C4C4;
    border-radius: 10px;

}

.right3 {
    width: 50%;
    height: 1150px;
    /* border: 1px solid black; */
    position: absolute;
    top: 2306px;
    left: 50%;
}

.teks-kanan {
    position: relative;
    width: 570px;
    height: 146px;
    left: 320px;
    top: 470px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 73px;

    color: #3F3A3A;
}

.line-kanan {
    position: relative;
    width: 100px;
    height: 0px;
    left: 320px;
    top: 490px;

    border: 2px solid #6F6A40;
}

.teks-kanan-2 {
    position: relative;
    width: 570px;
    height: 64px;
    left: 320px;
    top: 520px;

    font-family: 'Airbnb Cereal App';
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.04em;

    color: #3F3A3A;
}

.button-kanan {
    position: relative;
    width: 200px;
    height: 64px;
    left: 320px;
    top: 570px;

    background: #EFC81A;
    border-radius: 8px;
}

.button-text-kanan {
    position: relative;
    width: 95px;
    height: 21px;
    left: 380px;
    top: 528px;
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.kotak3 {
    position: relative;
    width: 25px;
    height: 140px;
    left: 135px;
    top: 950px;

    background: #EFC81A;
}

.left3-child h3 {
    position: relative;
    width: 337px;
    height: 62px;
    left: 190px;
    top: 800px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}


.wrap-box {
    width: 100%;
    height: 1150px;
    /* border: 1px solid black; */
    position: absolute;
    top: 3900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.box-food {
    width: 500px;
    height: 500px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.box-food h4.t1 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 160px;
    top: 350px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.box-food h4.t2 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 780px;
    top: 350px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.box-food h4.t3 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 1400px;
    top: 350px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.box-food h4.t4 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 160px;
    top: 900px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.box-food h4.t5 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 780px;
    top: 900px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.box-food h4.t6 {
    position: absolute;
    width: 112px;
    height: 84px;
    left: 1400px;
    top: 900px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #3F3A3A;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 685px;
    top: 5215px;
    background: #EFC81A;
}

.bottom h3 {
    position: relative;
    width: 587px;
    height: 48px;
    left: 740px;
    top: 160px;
    align-items: center;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 48px;
    color: #2E266F;
}

.bottom p {
    position: absolute;
    width: 472px;
    height: 24px;
    top: 300px;
    left: 800px;

    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #707070;
}

ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 40px;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: #2E266F;
    text-align: center;
    left: 160px;
    top: 67px;
    padding: 14px 80px;
    text-decoration: none;
    font-family: 'Airbnb Cereal App';
    font-size: 20px;
    font-weight: 1000;
}

.bottom ul {
    list-style-type: none;
    margin-left: 797px;
    margin-top: 470px;
    padding: 0;
    overflow: hidden;

}

.bottom li {
    float: left;
}

.bottom li a {
    display: block;
    color: #2E266F;
    text-align: center;
    left: 190px;
    top: 67px;
    padding: 14px 9px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
}